.z-label{
	
	//position:relative;
	//float:left;

	display: inline-block;

	color:@orange;
	font-weight:bold;
	padding:0 25px;
	line-height:25px;
	white-space: nowrap;

}

.z-label-smaller{
	padding:0 15px;
}

a:hover,
a:active{
	.z-label{
		color: lighten(@orange, 10%) !important;
	}
}

a:active{
	.z-label{
	}
}

.button-layout{
	cursor:pointer;
	.clearfix();
	overflow: hidden;
	position: relative;
	display:inline-block;
	text-indent:0;
	&.disabled{
		pointer-events:none;
		.opacity(50);
		-webkit-filter: grayscale(85%);
		-moz-filter: grayscale(85%);
		-ms-filter: grayscale(85%);
		-o-filter: grayscale(85%);
		filter: grayscale(85%);
		filter: gray; // IE 6-9
	}
}

.zButton,
.z-button{
	background: @corp;
	.button-layout();
	@hexToRGBA : rgba(red(@themeColorBtnDefault), green(@themeColorBtnDefault), blue(@themeColorBtnDefault), 0.8);
	border-top:1px solid  lighten(rgba(200, 200, 200, 0.4), 10%); /*lighter*/
	border-left: 1px solid rgba(200, 200, 200, 0.4);
	border-right:1px solid rgba(200, 200, 200, 0.4);
	border-bottom:1px solid darken(rgba(200, 200, 200, 0.4), 10%); /*darker*/

    .z-label{
      &:hover{
        color:#f1f1f1;
        }
      }
}

.secondary-button,
.default-btn,
.white-button,
.cancel-button,
.portlet-create-button{
	.button-layout();
	border-top:1px solid    rgba(200, 200, 200, 0.4);
	  border-left: 1px solid  rgba(185, 185, 185, 0.4);
	border-right:1px solid  rgba(185, 185, 185, 0.4);
	border-bottom:1px solid rgba(170, 170, 170, 0.4);
	.z-label{
		color:#666;
	}
	&:hover{
		.z-label{
			color: @corp !important;
			background-image: none;
		}
	}
}

input[type="button"]{ //because it doesn't contain a span=z-label usually
	&.default-btn,
	&.white-button,
	&.cancel-button,
	&.portlet-create-button{
		color:#666;
		&:hover{
			color: @themeColor2 !important;
			background-image: none;
		}
		&:focus{
			outline: none;
		}
	}
}

/*
.z-button.disabled{
	pointer-events:none;
	.opacity(50);
	-webkit-filter: grayscale(85%);
	-moz-filter: grayscale(85%);
	-ms-filter: grayscale(85%);
	-o-filter: grayscale(85%);
	filter: grayscale(85%);
	filter: gray; //IE 6-9
}
*/

.zButton.loading,
.z-button.loading{
	.z-spinner{
		display:inline-block;
		position: absolute;
		margin: 1px 0 0 4px;
	}
	.z-icon{
		display:none;
	}
}

.z-spinner{
	z-index:10;
	width:23px;
	height:23px;
	display:none;
	position:absolute;
	left:0px;
}

.z-spinner.loading{
	display:block !important;
}

.zLink, .z-link{
	padding:2px 4px;
	color:#fff !important;
	.smaller();
	background-color: @themeColor !important;
}

.zLink:hover, .z-link:hover{
	color:#fff !important;
	text-decoration:underline;
}

.z-action-link{
	.smaller();
	.opacity(50);
	text-decoration: none;
	color: @themeColor;
	&:hover{
		.opacity(100);
		text-decoration: none;
	}
}

.z-action-link-active{
	.opacity(100);
}

.simple-link{
	.smaller();
	color: @themeColor;
	border: none !important;
	text-decoration: underline;
	overflow: hidden;
	//margin-left:10px;
	&:before, &:after{
		content:""  !important;
	}
	&:hover{
		color: @themeColor2 !important;
		.z-label{
			color: @themeColor2 !important;
		}
	}
	.z-label{
		font-weight:normal;
		color: @themeColor;
		background:none !important;
		padding:0  !important;
		color: @themeColor;
		text-decoration:underline !important;
	}
	.icon-x{
		font-weight: normal !important;
		font-size: 21px;
		font-family: "ezcodx_gamification_symbly_rRg";
		line-height: 1;
		border: none;
		margin-right: 2px;
		outline: none !important;
		display: inline-block;
		position: relative;
		top: -1px;
		color: #7CB830;
	}
}





//yellow
.action-take,
.action-type-finish{
	@topColor: #ffcc00;
	@bottomColor: #e4b600;
	.z-label{
	}
	&:hover .z-label{
		color: darken(@topColor, 40%) !important;
	}
}

//green
.action-type-accept,
.action-accept,
.action-complete{
	@topColor: #97c43d;
	@bottomColor: #6fa82d;
	.z-label{
	}
	&:hover .z-label{
		color: darken(@topColor, 40%) !important;
	}
}

//red
.action-type-reject,
.action-reject{
	@topColor: #c43d53;
	@bottomColor: #a82d31;
	.z-label{
	}
	&:hover .z-label{
		color: darken(@topColor, 40%) !important;
	}
}

.action-type-restart{
	@topColor: #4e6d87;
	@bottomColor: #4d6c87;
	.button-label{
		color: lighten(@topColor, 80%);
		&:before{
		}
	}
	.button-action:hover{
		.button-label{
			color: darken(@topColor, 33%);
			&:before{
			}
		}
	}
}