@z_textColor         : #545454;
@z_themeColor        : #ef830f;
@z_themeColor2       : #7CB830;
@z_themeColorBtn     : #97c43d;
@z_themeColorHeader  : #464646;
@z_path              : '../images/';

@import "ezcodx.less";