// Ezcodx is a customer relationship management program developed by
// Ezcodx, Inc. Copyright (C) 2014 Ezcodx Inc.
//
// Ezcodx is free software; you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License version 3 as published by the
// Free Software Foundation with the addition of the following permission added
// to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
// IN WHICH THE COPYRIGHT IS OWNED BY EZCODX, EZCODX DISCLAIMS THE WARRANTY
// OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
//
// Ezcodx is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
// FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License along with
// this program; if not, see http://www.gnu.org/licenses or write to the Free
// Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
// 02110-1301 USA.
//
// You can contact Ezcodx, Inc. with a mailing address at 27 North Wacker Drive
// Suite 370 Chicago, IL 60606. or at email address contact@ezcodx.com.
//
// The interactive user interfaces in original and modified versions
// of this program must display Appropriate Legal Notices, as required under
// Section 5 of the GNU Affero General Public License version 3.
//
// In accordance with Section 7(b) of the GNU Affero General Public License version 3,
// these Appropriate Legal Notices must retain the display of the Ezcodx
// logo and Ezcodx copyright notice. If the display of the logo is not reasonably
// feasible for technical reasons, the Appropriate Legal Notices must display the words
// "Copyright Ezcodx Inc. 2014. All rights reserved".

.tabs-container,
.email-template-content{
    position: relative;
    //min-height: 200px;
	//margin: 15px;
	margin-bottom: 15px;
	
    > .tab{
        position: absolute;
        top:28px;
        left: 0;
        width: 100%;
        //min-height: 170px;
        display: none;
	    line-height: 150%;
	    padding:0;
	    border: 1px solid #dfdfdf;
	    border-top:none;
	    
	    background: #fefefe;
        label{
            display: none;
        }
	    .redactor_box{
		    border: none !important;
	    }
	    .redactor_box textarea{
		    color:#fff !important;
		    background: #111 !important;
	    }
	    textarea{
		    border: none !important;
	    }
    }
    .tab.active-tab{
        display: block;
	    position: relative;
	    top:0;
    }
}

.autoresponder-combined-content,
.email-template-combined-content{
	padding: 0 15px;
	position: relative;
	.big-spinner{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000000;
		width: 100%;
		height: 100%;
		//background: rgba(255, 255, 255, 0.9);
		margin: 0;
		
	}
	.spinner{
		margin: 100px 0 0 50%;
		left: 0 !important;
		top: 0 !important;
	}
}

.email-template-content{
	.big-spinner{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000000;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.8);
		margin: 0;
		
	}
	/*
	.spinner{
		margin: 15% 0 0 50%;
		left: 0 !important;
		top: 0 !important;
	}*/
}

.tabs-nav{
    border-bottom: 1px solid #dfdfdf;
    a{
        display: inline-block;
        padding:0 12px;
        line-height: 26px;
        margin: 0 5px 0 0;
        background:url("@{path}table-items-header.png") left bottom repeat-x;
        border: 1px solid #dfdfdf;
        border-bottom: none;
        .smaller();
        font-weight: 700;
        color: #666;
    }
    a:hover,
    a.active-tab{
        text-decoration: none;
		position: relative;
	    top: 1px;
	    color: @themeColor;
    }
}

.mergetag-guide-modal{
	padding: 15px;
	line-height: 140%;
	> div{
		margin-top: 15px;
	}
	h4{
		margin-bottom: 5px;
	}
	ul{
		padding-left: 16px;
	}
	li{
		margin-bottom: 4px;
	}
}

.redactor-iframe{
	width: 100%;
	height: 100%;
	border: none;
}
