// Ezcodx is a customer relationship management program developed by
// Ezcodx, Inc. Copyright (C) 2014 Ezcodx Inc.
//
// Ezcodx is free software; you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License version 3 as published by the
// Free Software Foundation with the addition of the following permission added
// to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
// IN WHICH THE COPYRIGHT IS OWNED BY EZCODX, EZCODX DISCLAIMS THE WARRANTY
// OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
//
// Ezcodx is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
// FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License along with
// this program; if not, see http://www.gnu.org/licenses or write to the Free
// Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
// 02110-1301 USA.
//
// You can contact Ezcodx, Inc. with a mailing address at 27 North Wacker Drive
// Suite 370 Chicago, IL 60606. or at email address contact@ezcodx.com.
//
// The interactive user interfaces in original and modified versions
// of this program must display Appropriate Legal Notices, as required under
// Section 5 of the GNU Affero General Public License version 3.
//
// In accordance with Section 7(b) of the GNU Affero General Public License version 3,
// these Appropriate Legal Notices must retain the display of the Ezcodx
// logo and Ezcodx copyright notice. If the display of the logo is not reasonably
// feasible for technical reasons, the Appropriate Legal Notices must display the words
// "Copyright Ezcodx Inc. 2014. All rights reserved".

/*Upload Files Box (in selected account, in Note)*/
.file-upload-box{
	
	padding-left:0;
	margin:0 !important;
    width: 100%;
    > .ui-widget{
        width:100%;
    }
	div{
		margin-left:0 !important;
	}
	.fileinput-button{
		width:100%;
	}
	.ui-icon-plusthick{
		.z-button();
		padding:0 5px;
		&:after{
			content:"Y";
			.symbly(20px);
		}
	}
}

.add-label{
    font-weight:normal !important;
}

.show-file-upload-box{
    position: relative;
    bottom:-18px;
    z-index: 5;
    font-weight: normal;
    .smaller();
	color: @themeColor;
}

#CommentInlineEditForModelView{
    .fileupload-content{
        width: 100%;
        td.name{
            padding:5px 0 0 0 !important;
        }
    }
}

.files{
    font-size: 11px;
    margin-top:5px;
    float: left !important;
    td{
        padding:2px 0 !important;
        vertical-align: middle;
        font-weight: 400 !important;
    }
    .ui-state-error td{
        color: #CC0000;
        font-weight: bold;
    }
}

.file-size{
    font-size: 10px;
    margin-left: 5px;
    color:#999;
}


.template-upload{
    .name{
        position:relative;
    }
    .z-spinner{
        position:relative;
        float:left;
        display: block;
        margin-top:-1px;
    }
}

.upload-actions{
    float: right;
    .icon-delete{
	    color: @themeColor;
        background:none;
        border:none;
        cursor: pointer;
        line-height: 16px;
        margin-top: -2px;
	    .symbly(22px);
        span{
            display: none;
        }
    }
    .icon-delete:before{
        margin:0;
        top:0;
        cursor: pointer;
        .opacity(25);
    }
    .icon-delete:hover:before{
        .opacity(100);
    }
    button.start,
    button.cancel{
        cursor: pointer;
        border: none;
        margin: 0 0 0 4px;
        color: #fff;
        font-weight: normal;
        background:none;
        &:hover{
        }
        span{
            display:none;
            padding:2px;
            font-size: 10px !important;
            line-height: 1;
        }
        .ui-button-text{
            display:block;
            span{
                display:block;
                padding:1px;
            }
        }
    }
    button.start span{
    }
    button.cancel span{
    }
}

.addfileinput-button {
	position: relative;
	//overflow: hidden;
	float: left;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    padding: 2px 0;
    span{
	    cursor:pointer;
	    .clearfix();
	    overflow: hidden;
	    position: relative;
	    display:inline-block;
	    text-indent:0;
        .symbly(36px);
        font-size: 24px;
        padding: 0 6px !important;
        margin:0 5px 0 0 !important;
        position: relative;
        top: 2px;
	    color:#666;
	    &:hover{
		    color: @themeColor2 !important;
		    background-image: none;
	    }
    }
    input {
	    position: absolute;
	    top: 0;
	    right: 0;
	    margin: 0;
	    opacity: 0;
	    filter: alpha(opacity=0);
	    font-size: 25px;
	    direction: ltr;
	    cursor: pointer;
    }
	&:hover{
		span{
			color: @themeColor2;
		}
	}
}

.fileupload-buttonbar{
    position:relative;
}

.max-upload-size{
    .field-description();
    margin: 9px 0 0 10px;
}

.ImportWizardView {
    .files{
        margin-top:15px;
    }
    .fileinput-button input {
    	-moz-transform: translate(-500px, 0) scale(6);
    }
}

.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
	margin-bottom: 5px;
}