// Ezcodx is a customer relationship management program developed by
// Ezcodx, Inc. Copyright (C) 2014 Ezcodx Inc.
//
// Ezcodx is free software; you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License version 3 as published by the
// Free Software Foundation with the addition of the following permission added
// to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
// IN WHICH THE COPYRIGHT IS OWNED BY EZCODX, EZCODX DISCLAIMS THE WARRANTY
// OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
//
// Ezcodx is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
// FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License along with
// this program; if not, see http://www.gnu.org/licenses or write to the Free
// Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
// 02110-1301 USA.
//
// You can contact Ezcodx, Inc. with a mailing address at 27 North Wacker Drive
// Suite 370 Chicago, IL 60606. or at email address contact@ezcodx.com.
//
// The interactive user interfaces in original and modified versions
// of this program must display Appropriate Legal Notices, as required under
// Section 5 of the GNU Affero General Public License version 3.
//
// In accordance with Section 7(b) of the GNU Affero General Public License version 3,
// these Appropriate Legal Notices must retain the display of the Ezcodx
// logo and Ezcodx copyright notice. If the display of the logo is not reasonably
// feasible for technical reasons, the Appropriate Legal Notices must display the words
// "Copyright Ezcodx Inc. 2014. All rights reserved".

div.form input, div.form textarea, div.form select {
	//margin: 0 0 0 0;
}

div.form fieldset {
	border: 1px solid #DDD;
	padding: 10px;
	margin: 0 0 10px 0;
}

div.form .hint {
	margin: 0;
	padding: 0;
	color: #999;
}

div.form .note {
	font-style: italic;
}

div.form span.required {
	color: @corp;
	padding: 0 0 0 3px;
	font-weight: bold;
}

div.form div.error label,
div.form label.error,
div.form span.error {
	color: @corp;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form td.error input, /* Added in response to #1934 Yii bug */
div.form td.error textarea, /* Added in response to #1934 Yii bug */
div.form td.error select, /* Added in response to #1934 Yii bug */
div.form input.error,
div.form textarea.error,
div.form select.error {
	border-color: #CC0000;
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success {
	//background: #E6EFC2;
	//border-color: #C6D880;
}

div.form .errorSummary {
	position: relative;
    margin:0 0 15px 0;
    padding:10px;
    border:1px solid #cc0000;
    background:#ffb5b5;
    font-weight: bold;
}

#edit-form td {
	//position: relative;
}

div.form .errorMessage {
	color: #CC0000;
	font-size: 11px;
	font-weight: normal;
	width:auto;
	float:left;
	margin-top:12px;
	border: 1px solid #CC0000;
	padding: 4px;
	background: #FFBCB9;
	position:relative;
	&:before{
		content:"";
		font-size:0;
		width: 12px;
		height: 9px;
		display:block;
		position: absolute;
		left:6px;
		top:-8px;
		background:url("@{path}error-tip.png") left bottom no-repeat;
	}
}

div.form .errorSummary p {
	margin: 0 0 5px 0;
}

div.form .errorSummary ul {
	margin: 0;
	padding: 0 0 0 20px;
}

div.wide.form label {
	float: left;
	//margin-right: 10px;
	position: relative;
}

div.wide.form .row {
	clear: left;
}

div.wide.form .buttons,
div.wide.form .hint,
div.wide.form .errorMessage {
	clear: both;
	padding-left: 2px;
}

.field-description{
    margin-top:5px;
    .smaller();
    font-weight: normal;
    font-style: italic;
    display: inline-block;
    color:#999;
}