// Ezcodx is a customer relationship management program developed by
// Ezcodx, Inc. Copyright (C) 2014 Ezcodx Inc.
//
// Ezcodx is free software; you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License version 3 as published by the
// Free Software Foundation with the addition of the following permission added
// to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
// IN WHICH THE COPYRIGHT IS OWNED BY EZCODX, EZCODX DISCLAIMS THE WARRANTY
// OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
//
// Ezcodx is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
// FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License along with
// this program; if not, see http://www.gnu.org/licenses or write to the Free
// Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
// 02110-1301 USA.
//
// You can contact Ezcodx, Inc. with a mailing address at 27 North Wacker Drive
// Suite 370 Chicago, IL 60606. or at email address contact@ezcodx.com.
//
// The interactive user interfaces in original and modified versions
// of this program must display Appropriate Legal Notices, as required under
// Section 5 of the GNU Affero General Public License version 3.
//
// In accordance with Section 7(b) of the GNU Affero General Public License version 3,
// these Appropriate Legal Notices must retain the display of the Ezcodx
// logo and Ezcodx copyright notice. If the display of the logo is not reasonably
// feasible for technical reasons, the Appropriate Legal Notices must display the words
// "Copyright Ezcodx Inc. 2014. All rights reserved".

#EzcodxLogo{
    background: url("@{path}Ezcodx_logo.png") left top no-repeat;
    width:170px;
    height:54px;
    margin-bottom:20px;
}

#InstallAccessFailurePageView,
#ErrorPageView{
    font-size:12px;
    line-height:140%;
    background:#fff;
    width:960px;
    padding:20px;
    margin:40px auto;
    a{
	    background-color: @themeColor;
	    padding:1px 4px;
        color:#fff;
        &:hover{
            color:#fff !important;
            text-decoration:underline;
        }
    }
    div{
        margin:10px 0;
    }
}

#InstallPageView{
    .AppContainer{
        background-image:none;
        font-size:12px;
        line-height:140%;
        padding:20px;
        margin:40px 40px 0 40px;
        a{
            //margin:auto 10px;
            //.z-button();
        }
    }
	div.wide.form{
		float: none;
	}
    #save{
    	color:#fff !important;
    }
    ul{
        list-style:inside;
        margin-bottom:10px;
        li{
            margin-bottom:5px;
        }
    }
    table{
        width:100%;
        table{
            border-color: #DDDEDE;
            border-style: solid;
            border-width: 0 0 1px 0;
            border-spacing: 0;
            border-collapse: collapse;
            td{
                border-color: #DDDEDE;
                border-style: solid;
                border-width: 1px 1px 0 0;
                padding-left:10px;
            }
            tr{
                border-color: #DDDEDE;
                border-style: solid;
                border-width: 0 0 0 1px;
                border-spacing: 0;
            }
            tr:first-child{
                border-left:none;
                td{
                    border:none;
                    font-weight:bold;
                }
            }
        }
        /*inside another table to prevent hover effect on the main table*/
        table tr:hover{
            background-color:none;
            color:@textColor;
        }
        td{
            padding:8px 2px;
        }
    }
    #install-form{
        .unstyle-panel;
        //padding:0 !important;
        input[type="submit"]{
            .z-button();
        }
        table{
            padding-bottom:15px;
        }
        th{
            width:26%;
        }
        td{
            width:37%;
        }
        th+td{
        	vertical-align:top;
        }
        tr td:last-child{
            padding-left:15px;
        }
        label{
            font-size:12px !important;
            color:#666;
            font-weight:400 !important;
            padding-top:12px;
        }
        .hasCheckBox{
        	padding-top:0;
        	margin-left:0;
        }
	    .view-toolbar-container{
		    border-top:1px solid #ccc;
	    }
    }
}

#logging-table, #progress-table{
    width:100%;
    img{
        width:128px;
        margin:10px auto;
    }
}

#logging-table{
    height:450px;
    overflow-y: scroll;
}

.progress-bar{
    text-align:center;
}

.fail{
    color:#cc0000;
}

.pass{
    color:#7BB730;
}

.warning{
    color:#FFCC00;
}

.install-or{
    display:inline-block;
    position:relative;
    top:-10px;
}