// Ezcodx is a customer relationship management program developed by
// Ezcodx, Inc. Copyright (C) 2014 Ezcodx Inc.
//
// Ezcodx is free software; you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License version 3 as published by the
// Free Software Foundation with the addition of the following permission added
// to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
// IN WHICH THE COPYRIGHT IS OWNED BY EZCODX, EZCODX DISCLAIMS THE WARRANTY
// OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
//
// Ezcodx is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
// FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License along with
// this program; if not, see http://www.gnu.org/licenses or write to the Free
// Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
// 02110-1301 USA.
//
// You can contact Ezcodx, Inc. with a mailing address at 27 North Wacker Drive
// Suite 370 Chicago, IL 60606. or at email address contact@ezcodx.com.
//
// The interactive user interfaces in original and modified versions
// of this program must display Appropriate Legal Notices, as required under
// Section 5 of the GNU Affero General Public License version 3.
//
// In accordance with Section 7(b) of the GNU Affero General Public License version 3,
// these Appropriate Legal Notices must retain the display of the Ezcodx
// logo and Ezcodx copyright notice. If the display of the logo is not reasonably
// feasible for technical reasons, the Appropriate Legal Notices must display the words
// "Copyright Ezcodx Inc. 2014. All rights reserved".

#kanban-holder{
	margin: 0;
	padding: 0;
	background-size: auto 100%;
	vertical-align: top;
	border-top:none;
	#kanban-board,
	.kanban-column,
	.kanban-column > div{
		margin-bottom: 0 !important;
	}
	.empty{
		padding: 10px;
	}
	.general-issue-notice{
		width:100%;
		background: rgba(255, 255, 255, 0.6);
		padding: 15px 0;
		p{
			font-weight: bold;
		}
	}
}

#kanban-holder.kanban-background-football{
	background: #fff url("@{path}kanban/football.jpg") left bottom no-repeat;
}

.kanban-background-football .background-texture-1{
	background: #fff url("@{path}kanban/swatch-football.jpg") left top no-repeat;
}

#kanban-holder.kanban-background-tennis{
	background: #fff url("@{path}kanban/tennis.jpg") left bottom no-repeat;
}

.kanban-background-tennis .background-texture-1{
	background: #fff url("@{path}kanban/swatch-tennis.jpg") left top no-repeat;
}

#kanban-holder.kanban-background-motor{
	background:#fff url("@{path}kanban/asphalt.jpg") center bottom no-repeat;
}

.kanban-background-motor .background-texture-1{
	background:#fff url("@{path}kanban/swatch-asphalt.jpg") left top no-repeat;
}

#kanban-holder.kanban-background-yoga{
	background:#fff url("@{path}kanban/yoga.jpg") right top no-repeat;
}

.kanban-background-yoga .background-texture-1{
	background:#fff url("@{path}kanban/swatch-yoga.jpg") left top no-repeat;
}

#kanban-holder.kanban-background-blurred-lights,
.kanban-background-blurred-lights .background-texture-1{
	background:#fff url("@{path}kanban/defocus-light-yellowish-blue.jpg") center center no-repeat;
	background-size: 100% 100% !important;
}

#kanban-holder.kanban-background-blurred-city,
.kanban-background-blurred-city .background-texture-1{
	background:#fff url("@{path}kanban/blurred-defocused-lights-on-rainy-city-road-at-night.jpg") center center no-repeat;
	background-size: 100% 100% !important;
}

#kanban-holder.kanban-background-blurred-vera,
.kanban-background-blurred-vera .background-texture-1{
	background:#fff url("@{path}kanban/blurred-vera.png") center top no-repeat;
	background-size: 100% 100% !important;
}

#kanban-holder.kanban-background-perfect-beach,
.kanban-background-perfect-beach .background-texture-1{
	background:#fff url("@{path}kanban/perfect-beach.jpg") center center no-repeat;
	background-size: 100% 100% !important;
}

#kanban-holder.kanban-background-flip-flops,
.kanban-background-flip-flops .background-texture-1{
	background:#fff url("@{path}kanban/flip-flops-with-blue-decking.jpg") center bottom no-repeat;
}

//http://nos.twnsnd.co/
#kanban-holder.kanban-background-blue-structure,
.kanban-background-blue-structure .background-texture-1{
	background:#fff url("@{path}kanban/blue-structure.jpg") center bottom no-repeat;
}

#kanban-holder.kanban-background-sepia-sf,
.kanban-background-sepia-sf .background-texture-1{
	background:#fff url("@{path}kanban/sepia-sf.jpg") center bottom no-repeat;
}

#kanban-holder.kanban-background-men-on-bridge,
.kanban-background-men-on-bridge .background-texture-1{
	background:#fff url("@{path}kanban/men-on-bridge.jpg") center bottom no-repeat;
}

.background-texture-1{
	background-size: 100%;
}

#kanban-board{
	.clearfix();
	
	display: table;
	vertical-align: top;
	height: 100%;
	width: 100%;
	.ui-state-active{}
}

.drop-zone-container{
	padding: 37px 2px 2px 2px;
	
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	.drop-zone{
		position: relative;
	}
}

.drop-zone{
	border:2px dashed @themeColor;
}


.kanban-column{
	
	white-space: normal;
	display: table-cell;//inline-block;
	vertical-align: top;
	border-left: 1px solid #dfdfdf;
	position: relative;
	&:first-child{
		border-left: none;
	}
	ul{
		list-style: none;
		padding: 5px 5px;
		position: relative;
		z-index: 5;
		min-height: 600px;
	}
	.droppable-dynamic-rows-container{
		//position: absolute;
		width: 100%;
		height: 100%;
	}
}

.column-header{
	font-weight: bold !important;
	height: 35px;
	line-height: 35px;
	background:rgba(255, 255, 255, 0.8) url("@{path}table-items-header.png") left top repeat-x;
	padding: 0 0 0 5px;
	white-space: nowrap;
	border-bottom: 1px solid #dfdfdf;
}

.kanban-card{
	> div{
		position: relative;
		width: 100%;
		display: block;
		margin:0 0 5px 0 !important;
		background: #f0f0f0;
		padding:5px;
	}
	span{
		display: inline-block;
		margin-bottom: 3px;
	}
	.hidden-content{
		> a{
			.smaller();
			position: relative;
			top: 5px;
		}
		> div{
			display: none;
			padding: 10px 0 5px 0;
		}
	}
	.gravatar{
		border:none !important;
	}
}

.opportunity-name{
	font-size: 12px;
	font-weight: normal;
}

.account-name{
	font-size: 14px;
	font-weight: bold;
	color: #666;
}

.opportunity-amount{
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	color: darken(#282A76, 5%);
	line-height: 1;
	margin-bottom:5px;
}

.closing-date{
	.smaller();
	text-align: right;
	i{
		text-align: left;
		.symbly(12px);
		&:after{
			content: "x";
		}
	}
}

.opportunity-owner{
	position: absolute;
	right: 5px;
	bottom: 5px;
	text-align: right;
	display: block;
	line-height: 1;
	span{
		display: inline-block;
		top: -7px;
		position: relative;
		margin: 0 5px;
	}
	img{
		background: #DFDFDF;
		padding: 1px;
	}
}

#OpportunitiesListView{
	.kanban-card > div{
		padding:5px 5px 15px 10px;
	}
	.kanban-card span{
		display: block;
	}
}

.kanban-card.clone{
	position: absolute;
	z-index: 10000;
}

.kanban-board-options-panel{
	width: 50%;
	float: left;
	h3{
		margin-bottom: 10px;
	}
}

#kanban-board-options-link{
	color: @themeColor;
	&:hover{
		color: @themeColor2;
	}
}

.icon-kanban-board-view-type,
.icon-grid-view-type{
	margin:0 3px !important;
	span{
		display: none;
	}
}

//Tasks in Kanban
.task-details{
	display: block;
	width: 100%;
	padding-bottom: 5px;
	border-bottom:1px solid #dfdfdf;
}

.completion-percentage-bar{
	position: relative;
	top:-5px;
	text-indent: -9999px;
	//clear: left;
	height: 3px;
	width: 0;
	.animateAll();
	@topColor: #97c43d;
	@bottomColor: #6fa82d;
}

.task-status{
	font-weight: normal;
	.opacity(50);
	font-size: 10px;
	float: left;
	&:hover{
		.opacity(100);
	}
}

//.status-1 .task-status{ color: @textColor; }
//.status-2 .task-status{ color: #6fa82d; }
//.status-3 .task-status{ color: #ffb63b; }
.status-4 .task-status{ color: #a82d31; }
//.status-5 .task-status{ color: #6fa82d; }

.task-due-date{
	float: right;
	font-weight: bold;
	font-size: 10px;
	color: #323232;
}

.task-content{
	padding: 10px 0 0 0;
	border-top:1px solid #fff;
	h4{
		span{
			font-weight: normal;
			margin-left: 5px;
			.smaller();
		}
	}
}

.task-subscribers{
	margin-top: 10px;
	padding-top: 7px;
	border-top:1px solid #dfdfdf;
	img{
		margin-right: 5px;
	}
	.z-link{
		position: relative;
		top:3px;
	}
}

.task-owner{
	.gravatar{
		background-color: @themeColor;
	}
}

.task-action-toolbar{
	overflow: hidden;
	float: right;
	margin:0 0 10px 5px !important;
	.button-label {
		.smaller();
		padding: 0 3px !important;
		line-height: 20px !important;
		z-index: 10;
		&:before{
			content:'';
			position: absolute;
			top:0;
			right:0;
			bottom: 0;
			left: 0;
			z-index: -1;
		}
	}
}

.subscribe-task-link,
.unsubscribe-task-link{
	background: #DFDFDF;
	//background: rgba(236, 240, 241, 0.75) url("@{path}stripes.png") left top repeat;
	padding: 2px;
	display: inline-block;
	width: 20px;
	height: 20px;
	.icon-subscribe,
	.icon-unsubscribe{
		position: relative;
		top: -3px;
		display: block;
		text-align: center;
		&:after{
			color: rgb(84, 84, 84);
			content: '\2260';//2260
			font-size: 29px;
		}
	}
}

.detail-subscribe-task-link,
.detail-unsubscribe-task-link{
	background: #DFDFDF;
	//background: rgba(236, 240, 241, 0.75) url("@{path}stripes.png") left top repeat;
	padding: 2px;
	display: inline-block;
	width: 36px;
	height: 36px;
	.icon-subscribe,
	.icon-unsubscribe{
		position: relative;
		top: -2px;
		display: block;
		text-align: center;
		&:after{
			color: rgb(84, 84, 84);
			content: '\2260';
			font-size: 44px;
		}
	}
}

.icon-unsubscribe:after{
	content:'\2122' !important;
}

.detail-unsubscribe-task-link,
.unsubscribe-task-link{}