@-webkit-keyframes growDialog {
	0%   { -webkit-transform:scale(0, 0); opacity:0 }
	100% { -webkit-transform:scale(1, 1); opacity:1 }
}
@-moz-keyframes growDialog {
	0%   { -moz-transform:scale(0, 0); opacity:0 }
	100% { -moz-transform:scale(1, 1); opacity:1 }
}
@-o-keyframes growDialog {
	0%   { -o-transform:scale(0, 0); opacity:0 }
	100% { -o-transform:scale(1, 1); opacity:1 }
}
@-ms-keyframes growDialog {
	0%   { -ms-transform:scale(0, 0); opacity:0 }
	100% { -ms-transform:scale(1, 1); opacity:1 }
}
@keyframes growDialog {
	0%   { transform:scale(0, 0); opacity:0 }
	100% { transform:scale(1, 1); opacity:1 }
}

@-webkit-keyframes throb {
}
@-moz-keyframes throb {
}
@-o-keyframes throb {
}
@-ms-keyframes throb {
}
@keyframes throb {
}

@-webkit-keyframes slideCollectionUp {
	100% { -webkit-transform:translate(0, -50%); }
}

@-webkit-keyframes spinCoin {
	100% { -webkit-transform:rotateY(360deg); }
}
@-moz-keyframes spinCoin {
	100% { -moz-transform:rotateY(360deg); }
}
@-ms-keyframes spinCoin {
	100% { -ms-transform:rotateY(360deg); }
}
@-o-keyframes spinCoin {
	100% { -o-transform:rotateY(360deg); }
}
@keyframes spinCoin {
	100% { transform:rotateY(360deg); }
}

@keyframes shake{
	0% { transform: translate(3px, 0); opacity:0  }
	100% { transform: translate(0, 0); opacity:1  }
}

@-moz-keyframes shake{
	0% { -moz-transform: translate(3px, 0); opacity:0  }
	100% { -moz-transform: translate(0, 0); opacity:1 }
}

@-webkit-keyframes shake {
	0% { -webkit-transform: translate(3px, 0); opacity:0  }
	100% { -webkit-transform: translate(0, 0); opacity:1 }
}
