/*********************************************************************************
 * Ezcodx is a customer relationship management program developed by
 * Ezcodx, Inc. Copyright (C) 2014 Ezcodx Inc.
 *
 * Ezcodx is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License version 3 as published by the
 * Free Software Foundation with the addition of the following permission added
 * to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
 * IN WHICH THE COPYRIGHT IS OWNED BY EZCODX, EZCODX DISCLAIMS THE WARRANTY
 * OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
 *
 * Ezcodx is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Affero General Public License along with
 * this program; if not, see http://www.gnu.org/licenses or write to the Free
 * Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
 * 02110-1301 USA.
 *
 * You can contact Ezcodx, Inc. with a mailing address at 27 North Wacker Drive
 * Suite 370 Chicago, IL 60606. or at email address contact@ezcodx.com.
 *
 * The interactive user interfaces in original and modified versions
 * of this program must display Appropriate Legal Notices, as required under
 * Section 5 of the GNU Affero General Public License version 3.
 *
 * In accordance with Section 7(b) of the GNU Affero General Public License version 3,
 * these Appropriate Legal Notices must retain the display of the Ezcodx
 * logo and Ezcodx copyright notice. If the display of the logo is not reasonably
 * feasible for technical reasons, the Appropriate Legal Notices must display the words
 * "Copyright Ezcodx Inc. 2014. All rights reserved".
 ********************************************************************************/

@media screen and (min-width: 1601px) {
    .AppContainer{
        margin:0 auto !important;
    }
    #HeaderLinksView > div {
        margin: 0 !important;
    }
    #app-search {
        margin-left:0 !important;
    }
    #ShortcutsMenu{
        position: relative !important;
    }
}

@media screen and (max-width: 1000px) {
	.view-toolbar{
		> a,
		.parent > a {
			padding-left: 10px;
			&:before{
				display: none;
			}
		}
	}
}

@media all and (max-width: 900px) {
	.AppContainer{
		min-width:0 !important;
	}
	#HeaderView{
		width:100%;
		min-width:0 !important;
	}
	.juiportlet-column{
		width:100%;
		float:none;
	}
	.juiportlet-widget{
		min-width:auto;
		margin-right:0px;
	}
	//Details View
	.DetailsAndRelationsView{
		> div{
			float:none;
			width:100% !important;
		}
	}
	.breadcrumbs{
		padding-bottom:10px;
	}
	.details-table{
		margin-right:0;
	}
	.juiportlet-widget{
		margin-right:0 !important;
	}

    //edit view
	.right-column,
	.left-column{
		//float: none;
		width: 100%;
		//padding-left: 0;
	}

	.right-side-edit-view-panel{
		padding: 0;
		padding: 0 0 0 0;
		background: none;
	}

    //intro steps
	.module-intro-steps > div{
		width: 100%;
		float: none;
		margin:0 0 15px 0;
	}

	#AboutView{
		#rightCol,
		#leftCol{
			width: 100%;
			float: none;
			padding: 15px 15px 0 15px;
			> div{
				float: none;
			}
		}
	}
}

@media all and (max-width: 801px){ /*and (max-height: 451px)*/
	#LoginPageView{
background:@corp;
		padding-top:0;
		> div{

			padding:10px;
			display: -ms-flex;
			display: -moz-flex;
			display: -webkit-flex;
			display: flex;
			-ms-flex-direction: column;
			-ms-flex-wrap: wrap;
			-moz-flex-flow: column wrap;
			-webkit-flex-flow: column wrap;
			flex-flow: column wrap;
			-ms-flex-pack: start;
			-moz-justify-content: flex-start;
			-webkit-justify-content: flex-start;
			justify-content: flex-start;
			width:100% !important;
			height:100% !important;
			display:block;
		}
		#FooterView{
			-ms-flex: 1 0 auto;
			-moz-flex: 1 0 auto;
			-webkit-flex: 1 0 auto;
			flex: 1 0 auto;
			margin:10px 10px 5px 10px;
		}
		#credit-link{
			margin-left:0;
		}
	}

	#LoginView{
		min-width:0 !important;
		margin:0;
		//background-image:none;
		background-position: left bottom;// 120px;
		height:auto;
		-ms-flex: 1 0 auto;
		-moz-flex: 1 0 auto;
		-webkit-flex: 1 0 auto;
		flex: 1 0 auto;
	}

	#login-box{
		width:100%;
		height:auto;
		float:none;
		margin:10px 0 0 0;
		top:0;
		left:0;
		.form{
			float:left;
			width:100%;
			margin-bottom: 15px;
			form{
				border:none;
				padding:0 10px 10px 10px;
			}
		}
		#LoginLogo{
			float:none;
			width:100%;
			height:80px;
			padding:0;
			background-position:50% 50%;
		}
	}

	#login-form{
		padding:0 20px !important;
	}
}