// Ezcodx is a customer relationship management program developed by
// Ezcodx, Inc. Copyright (C) 2014 Ezcodx Inc.
//
// Ezcodx is free software; you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License version 3 as published by the
// Free Software Foundation with the addition of the following permission added
// to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
// IN WHICH THE COPYRIGHT IS OWNED BY EZCODX, EZCODX DISCLAIMS THE WARRANTY
// OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
//
// Ezcodx is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
// FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License along with
// this program; if not, see http://www.gnu.org/licenses or write to the Free
// Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
// 02110-1301 USA.
//
// You can contact Ezcodx, Inc. with a mailing address at 27 North Wacker Drive
// Suite 370 Chicago, IL 60606. or at email address contact@ezcodx.com.
//
// The interactive user interfaces in original and modified versions
// of this program must display Appropriate Legal Notices, as required under
// Section 5 of the GNU Affero General Public License version 3.
//
// In accordance with Section 7(b) of the GNU Affero General Public License version 3,
// these Appropriate Legal Notices must retain the display of the Ezcodx
// logo and Ezcodx copyright notice. If the display of the logo is not reasonably
// feasible for technical reasons, the Appropriate Legal Notices must display the words
// "Copyright Ezcodx Inc. 2014. All rights reserved".

@import "variables.less";

.symbly( @size : 32px ) {
    font-weight:normal !important;
    font-size:@size;
    font-family: "ezcodx_gamification_symbly_rRg";
}

.t-shadow(@style){
}

.b-shadow(@style){
}

.ie-shadow(@color:0, @blur:0, @alpha:0){
}

.no-ie-shadow(){
}

.text-overflow(){
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.radius(@style){
}

.portlet-gradient(){
}

.box-sizing(){
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.border-box{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.border-box-sizing{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.animateAll(@time: 0.5s){
    -webkit-transition: all @time ease-out;
       -moz-transition: all @time ease-out;
		-ms-transition: all @time ease-out;
         -o-transition: all @time ease-out;
            transition: all @time ease-out;
}

.cf,
.clearfix{
    &:before,
    &:after{
        content:" ";
        display:table;
    }
	&:after{
        clear:both;
    }
    *zoom:1;
}

.debug(){
    background-color:rgba(255, 0, 0, 0.5);
}

.hide(){
    display:none;
}

.smaller(){
    font-size:11px;
}

.flyout{
    border:1px solid #b6b6b6;
	white-space: nowrap;
}

.headerDropDown{
	border:1px solid #b6b6b6;
	z-index:9999;
	min-width:110px;
	display:none;
	position:absolute;
	left:0;
	top:32px;
	padding-top:3px;
	padding-bottom:3px;
	li{
		line-height: 100%;
	}
	li > a{
		color:#666;
		font-size:11px;
		font-weight:normal;
		display:block;
		padding:5px 10px 5px 10px;
		margin:0 2px;
	}
	li > a:hover{
		color:#fff !important;
	}
}

// Gradients
#gradient {
  .vertical (@startColor: #555, @endColor: #333) {
    background-color: @endColor;
    background-repeat: repeat-x;
  }
  .directional (@startColor: #555, @endColor: #333, @deg: 45deg) {
    background-color: @endColor;
    background-repeat: repeat-x;
  }
  .vertical-three-colors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 50%, @endColor: #c3325f, @importance:~"") {
    background-color: @endColor @importance;
    background-repeat: no-repeat @importance;
  }
}

// Reset filters for IE
.reset-filter() {
}

.opacity(@opacity: 100) {
  filter: e(%("alpha(opacity=%d)", @opacity));
  -khtml-opacity: @opacity / 100;
    -moz-opacity: @opacity / 100;
         opacity: @opacity / 100;
}

.unstyle-panel{
    border:none;
    background: none;
    padding: 0;
    margin: 0;
    .reset-filter();
}