// Ezcodx is a customer relationship management program developed by
// Ezcodx, Inc. Copyright (C) 2014 Ezcodx Inc.
//
// Ezcodx is free software; you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License version 3 as published by the
// Free Software Foundation with the addition of the following permission added
// to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
// IN WHICH THE COPYRIGHT IS OWNED BY EZCODX, EZCODX DISCLAIMS THE WARRANTY
// OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
//
// Ezcodx is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
// FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License along with
// this program; if not, see http://www.gnu.org/licenses or write to the Free
// Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
// 02110-1301 USA.
//
// You can contact Ezcodx, Inc. with a mailing address at 27 North Wacker Drive
// Suite 370 Chicago, IL 60606. or at email address contact@ezcodx.com.
//
// The interactive user interfaces in original and modified versions
// of this program must display Appropriate Legal Notices, as required under
// Section 5 of the GNU Affero General Public License version 3.
//
// In accordance with Section 7(b) of the GNU Affero General Public License version 3,
// these Appropriate Legal Notices must retain the display of the Ezcodx
// logo and Ezcodx copyright notice. If the display of the logo is not reasonably
// feasible for technical reasons, the Appropriate Legal Notices must display the words
// "Copyright Ezcodx Inc. 2014. All rights reserved".

#calendar {
	width:100%;
	margin:0 auto;
	td {
		padding:0;
	}
}

.fc-header {
	text-transform:capitalize;
}

.calendar-view .left-column {
	width:25%;
}

.calendar-view .right-column {
	width:75%;
}

.calendars-list {
	margin-top:30px;
	ul {
		list-style:none;
		padding:0;
		margin:0;
	}
	> ul > li {
		display:block;
		padding:5px 0;
		line-height:1;
	}
	.edit-row-menu > li > a:before {
		line-height:12px;
	}
	a {
		color:#545454 !important;
	}
	+ .calendars-list {
		margin-top:30px;
		.cal-color {
			background:darkgoldenrod;
		}
		.cal-color.outline {
			background:none;
			border:1px solid rosybrown;
		}
	}
}

.cal-color {
	display:inline-block;
	width:12px;
	height:12px;
	background:#3a87ad;
	margin-right:4px;
	position:relative;
	top:1px;
}

.cal-color.outline {
	background:none;
	border:1px solid salmon;
}

.task-subscribers {
	border-top:none;
	padding:0 0 0 16px;
	margin-top:5px;
}

.quick-insert {
	padding:0;
	margin-top:30px;
	.details-item-editable {
		padding-left:0;
		padding-bottom:5px;
	}
	.simple-link {
		margin:5px 0 0 0;
		display:block;
	}
}