.webform-embed-code{
	padding:0;
	margin-bottom: 15px;
	word-break: break-all;
	white-space: normal;
	code{
		white-space: normal;
	}
	textarea{
		margin-top: 10px;
		border: 1px solid #ccc;
		background: #fff;
		width: 100%;
		padding: 5px;
		//.border-box();
		resize: none;
		white-space: pre;
		overflow: auto;
		font-family: "Courier New",Courier,monospace;
	}
}

#ContactWebFormEditAndDetailsView{
	.ui-sortable{
		.clearfix();
		list-style: none;
		.hasCheckBox + label{
			top: 0;
			left: 8px;
		}
	}
	#ContactWebForm_serializedData{
		display: block;
		margin-top: -5px;
	}
	label + label{
		margin-left: 0;
	}
	.dynamic-row .remove-dynamic-row-link {
		top: 13px;
	}
	h4{
		margin-bottom: 15px;
	}
	h3{
		margin-left: 15px;
	}
}

#ezcodxExternalWebForm{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	color: @textColor;
	.AppContent,
	.wrapper{
		padding:0;
		margin:0;
		border: none !important;
		.unstyle-panel() !important;
		background: none !important;
	}
	.left-column{
		padding-bottom: 0;
	}
	.attributesContainer{
		margin: 0;
		padding: 0;
	}
	.form-toolbar,
	.view-toolbar-container{
		border: none;
		text-align: right;
		padding: 0;
		margin: 0;
	}
	.float-bar{
		margin: 0;
		padding: 0;
	}
	@themeColorBtnDefault     : #97c43d;
	@themeColorBtn2Default    : darken(@themeColorBtnDefault, 10%);
	.z-button{
		margin: 0;
	}
	.z-label{
		color:#fff;
		&:active{
			color: darken(@themeColorBtnDefault, 40%) !important;
		}
		&:hover{
		}
	}
}

.field-label,
.hidden-field-label{
	float: left;
	display: inline-block;
	width: 80%;
	input[type="text"],
	textarea{
		width: 80%;
	}
	.has-model-select,
	.has-date-select,
	.hasDropDown{
		width: 80% !important;
		float: left;
	}
	.has-date-select{
		clear: none;
		input{
			width: 100% !important;
		}
	}
	label{
		width: 20%;
		line-height: 26px;
	}
}

.is-required-checkbox,
.is-hidden-checkbox{
	float: left;
	display: inline-block;
	width:20%;
}

.hidden-field-label,
.is-hidden-checkbox{
	margin-top: 10px;
}

#reCaptcha{
	padding-left: 30%;
	padding-bottom: 15px;
}

#captchaError{
	font-weight: bold;
	display: inline-block;
	width: 318px;
	text-align: center;
}