// Ezcodx is a customer relationship management program developed by
// Ezcodx, Inc. Copyright (C) 2014 Ezcodx Inc.
//
// Ezcodx is free software; you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License version 3 as published by the
// Free Software Foundation with the addition of the following permission added
// to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
// IN WHICH THE COPYRIGHT IS OWNED BY EZCODX, EZCODX DISCLAIMS THE WARRANTY
// OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
//
// Ezcodx is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
// FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License along with
// this program; if not, see http://www.gnu.org/licenses or write to the Free
// Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
// 02110-1301 USA.
//
// You can contact Ezcodx, Inc. with a mailing address at 27 North Wacker Drive
// Suite 370 Chicago, IL 60606. or at email address contact@ezcodx.com.
//
// The interactive user interfaces in original and modified versions
// of this program must display Appropriate Legal Notices, as required under
// Section 5 of the GNU Affero General Public License version 3.
//
// In accordance with Section 7(b) of the GNU Affero General Public License version 3,
// these Appropriate Legal Notices must retain the display of the Ezcodx
// logo and Ezcodx copyright notice. If the display of the logo is not reasonably
// feasible for technical reasons, the Appropriate Legal Notices must display the words
// "Copyright Ezcodx Inc. 2014. All rights reserved".

#WelcomeView{
	padding-right:20px !important;
	h1{
		font-size:50px;
		float:left;
		span{
			font-size:14px;
		}
	}
	a{
		text-decoration:underline !important;
	}
	.social-links{
		margin:30px -5px 0 0 !important;
	}
}

a.dashboard-link{
	text-decoration:none !important;
	margin-top:30px;
	margin-left:0;
	font-size:14px !important;
	cursor:pointer;
	.z-label{
		line-height:36px !important;
	}
}

#welcome-content{
	margin-top:30px;
	padding-bottom:30px;
	display:block;
	float:left;
	width:100%;
	.clearfix();
}

.help-section{
	border-top:1px solid #fff;
	
	padding:30px 0 0 15px;
	width:50%;
	float:left;
	font-size:12px;
	margin-bottom: 30px;
	h3{
		font-size:16px;
		margin-bottom:20px;
	}
	ul{
		margin-left:15px;
		font-weight: bold;
		color: #666;
	}
	li{
		margin-bottom:10px;
	}
	a{
		color: #666;
		font-weight: bold;
	}
}

#tip-of-day-next-page-link{
	margin-left:16px;
}

.hide-welcome{
	display:block;
	clear:both;
	position:relative;
	top:30px;
    .smaller();
	span{
		.symbly(26px);
		line-height: 1;
		border:none;
		margin-right:5px;
		outline: none !important;
		display:inline-block;
		position: relative;
		top: 2px;
		color: @themeColor2;
		&:before{
			content:"•";
		}
	}
}

#instructions{
	p{
		font-size:25px;
		line-height:35px;
        padding-right: 100px;
        padding-top: 15px;
	}
	.clearfix();
	padding-bottom:30px;
	border-bottom:1px solid #ccc;
}

#welcome-gallery{
	margin-right:45px;
	float:left;
    position: relative;
    img{
        z-index: 0;
        position: relative;
    }
	span{
        position: absolute;
        right: 0;
        top:0;
		display: block;
		width:100%;
		height:100%;

		background-color: transparent !important;
	}
}



