<div id="Logo">
 <img src="/themes/default/images/EzcodxLogo.jpg" alt="Ezcodx Logo" />
 <span style="font-size: 3em; vertical-align: middle;"><span style="color: #707090">Ezcodx</span><span style="color: #404040">CRM</span></span>
</div>
<span class="UnsupportedBrowserView" />
