.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.border-box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cf,
.clearfix {
  *zoom: 1;
}
.cf:before,
.cf:after,
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.cf:after,
.clearfix:after {
  clear: both;
}
.flyout {
  border: 1px solid #b6b6b6;
  background-color: #ebebeb;
  background-repeat: repeat-x;
  background-image: -ms-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f5f5f5),color-stop(100%,#ebebeb));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: -o-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: -moz-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: linear-gradient(top,#f5f5f5,#ebebeb);
  -webkit-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  -moz-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  -ms-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  -o-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  white-space: nowrap;
}
.headerDropDown {
  border: 1px solid #b6b6b6;
  background-color: #ebebeb;
  background-repeat: repeat-x;
  background-image: -ms-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f5f5f5),color-stop(100%,#ebebeb));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: -o-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: -moz-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: linear-gradient(top,#f5f5f5,#ebebeb);
  -webkit-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  -moz-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  -ms-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  -o-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  z-index: 9999;
  min-width: 110px;
  display: none;
  position: absolute;
  left: 0;
  top: 32px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.headerDropDown li {
  line-height: 100%;
}
.headerDropDown li > a {
  color: #666;
  font-size: 11px;
  font-weight: normal;
  display: block;
  padding: 5px 10px 5px 10px;
  margin: 0 2px;
}
.headerDropDown li > a:hover {
  color: #fff !important;
}
.unstyle-panel {
  border: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
html,
body {
  margin: 0;
  width: 100%;
}
body {
  height: 100%;
}
body > div {
  height: 100%;
}
#LoginPageView {
  padding-top: 0;
}
#LoginPageView > div {
  padding: 10px;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
  -moz-flex-flow: column wrap;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 100% !important;
  height: 100% !important;
  display: block;
}
#LoginPageView #FooterView {
  -ms-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 10px 10px 5px 10px;
}
#LoginPageView #credit-link {
  margin-left: 0;
}
#LoginView {
  min-width: 0 !important;
  margin: 0;
  background-image: none;
  height: auto;
  -ms-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
#login-box {
  width: 100%;
  height: auto;
  float: none;
  margin: 10px 0 0 0;
  top: 0;
  left: 0;
}
#login-box .form {
  float: none;
  width: 100%;
}
#login-box .form form {
  border: none;
  padding: 0 10px 10px 10px;
}
#login-box #LoginLogo {
  float: none;
  width: 100%;
  height: 80px;
  padding: 0;
  background-position: 50% 50%;
}
#login-form {
  padding: 0 20px !important;
}
#nav-trigger {
  display: block;
  border-right: 1px solid #191a48;
  -webkit-box-shadow: 1px 0 0 0 #292b7a;
  -moz-box-shadow: 1px 0 0 0 #292b7a;
  -ms-box-shadow: 1px 0 0 0 #292b7a;
  -o-box-shadow: 1px 0 0 0 #292b7a;
  box-shadow: 1px 0 0 0 #292b7a;
  color: #ffffff;
}
#nav-trigger:active {
  -webkit-text-shadow: 0 1px 0 #575ac6;
  -moz-text-shadow: 0 1px 0 #575ac6;
  -ms-text-shadow: 0 1px 0 #575ac6;
  -o-text-shadow: 0 1px 0 #575ac6;
  text-shadow: 0 1px 0 #575ac6;
}
#corp-logo span {
  display: none;
}
#corp-logo img {
  max-width: 50px;
  margin-top: 10px;
}
#HeaderView {
  width: 100%;
  min-width: 0 !important;
}
#HeaderLinksView {
  max-width: 100%;
  margin: 0 auto;
}
#HeaderLinksView + div {
  height: 0;
}
#HeaderLinksView > div {
  margin: 0 10px;
}
#user-toolbar {
  position: absolute;
  right: 3%;
  top: 0;
}
#GlobalSearchAndShortcutsCreateMenuView {
  display: none;
}
#FooterView {
  margin: 10px 10px 5px 10px;
  padding-bottom: 5px;
}
#credit-link {
  margin-left: 0;
}
#credit-link span {
  margin-left: 65px;
}
.performance-info {
  margin: 0 10px 10px 10px;
}
.social-links {
  display: none;
}
#MobileWelcomeView h1 {
  font-size: 30px;
  text-align: center;
}
#welcome-gallery {
  display: block;
  margin-bottom: 15px;
  margin-right: 0;
  width: 100%;
}
#welcome-gallery img {
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
#welcome-gallery span {
  display: none;
}
.dashboard-link {
  margin: 30px 0 0 0 !important;
}
#instructions {
  padding-bottom: 30px;
  text-align: center;
}
#instructions p {
  padding: 0;
}
.help-section {
  width: 100%;
  float: none;
}
.hide-welcome {
  top: 10px;
}
#AboutView #rightCol,
#AboutView #leftCol {
  width: 100%;
  float: none;
  padding: 15px 15px 0 15px;
}
#AboutView #rightCol > div,
#AboutView #leftCol > div {
  float: none;
}
.pillbox {
  width: 100%;
}
.split-button,
.default-button {
  float: none;
  display: block;
}
.split-button + .default-button,
.split-button + .split-button,
.default-button + .default-button,
.default-button + .split-button {
  border-left: none;
  border-top: 1px solid #DFDFDF;
  -webkit-box-shadow: inset 0 2px 0 0 #fff;
  -moz-box-shadow: inset 0 2px 0 0 #fff;
  -ms-box-shadow: inset 0 2px 0 0 #fff;
  -o-box-shadow: inset 0 2px 0 0 #fff;
  box-shadow: inset 0 2px 0 0 #fff;
}
.split-button .button-action-trigger,
.split-button .button-trigger,
.default-button .button-action-trigger,
.default-button .button-trigger {
  text-align: left;
  float: none;
  width: 100%;
}
.split-button:hover .button-action-trigger .icon-trigger:before,
.split-button:hover .button-trigger .icon-trigger:before,
.default-button:hover .button-action-trigger .icon-trigger:before,
.default-button:hover .button-trigger .icon-trigger:before {
  display: none !important;
  background: red !important;
}
.button-actions {
  position: relative;
  top: 2px;
  left: 0;
  clear: left;
}
.button-actions:before {
  right: 4px;
  background: url("../images/tip.png") right bottom no-repeat;
}
.split-button {
  *zoom: 1;
}
.split-button:before,
.split-button:after {
  content: " ";
  display: table;
}
.split-button:after {
  clear: both;
}
.split-button .button-action {
  float: left;
  width: 80%;
}
.split-button .button-trigger {
  text-align: left;
  float: right;
  width: auto;
}
.view-toolbar {
  border: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  width: 100%;
}
.view-toolbar .icon-create {
  margin-right: 10px;
  float: left;
  border: 1px solid #b7b7b7;
  border-top-color: #e7e7e7;
  border-left-color: #d7d7d7 !important;
  border-right-color: #d7d7d7;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 9px 5px rgba(153,153,153,0.12);
  -moz-box-shadow: 0 0 9px 5px rgba(153,153,153,0.12);
  -ms-box-shadow: 0 0 9px 5px rgba(153,153,153,0.12);
  -o-box-shadow: 0 0 9px 5px rgba(153,153,153,0.12);
  box-shadow: 0 0 9px 5px rgba(153,153,153,0.12);
  background: url("../images/view-toolbar-gradient.png") left bottom repeat-x;
}
.view-toolbar .mobile-view-toolbar-container {
  float: left;
  margin: 1px 0 0 0;
}
.mobile-actions {
  display: none;
}
.mobile-view-toolbar-container {
  display: none;
}
.mobile-view-toolbar-container .hasDropDown span.select-arrow {
  z-index: 0;
  background: none;
}
.mobile-view-toolbar-container .hasDropDown span.select-arrow:before {
  content: "n";
  font-weight: normal !important;
  font-size: 30px;
  font-family: "ezcodx_gamification_symbly_rRg";
  line-height: 26px;
  margin-left: -1px;
  background: none;
}
.mobile-view-toolbar-container select {
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none !important;
  appearance: none;
  background: transparent;
  z-index: 10;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #b7b7b7;
  border-top-color: #e7e7e7;
  border-left-color: #d7d7d7;
  border-right-color: #d7d7d7;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 9px 5px rgba(153,153,153,0.12);
  -moz-box-shadow: 0 0 9px 5px rgba(153,153,153,0.12);
  -ms-box-shadow: 0 0 9px 5px rgba(153,153,153,0.12);
  -o-box-shadow: 0 0 9px 5px rgba(153,153,153,0.12);
  box-shadow: 0 0 9px 5px rgba(153,153,153,0.12);
}
.AppContainer {
  min-width: 0 !important;
  margin: 0 10px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
}
@media screen and (min-width: 1601px) {
  .AppContainer {
    margin: 0 10px !important;
  }
  #HeaderLinksView > div {
    margin: 0 !important;
  }
}
.AppContent {
  position: relative;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-transition: all 0.22s ease-in 0;
  -moz-transition: all 0.22s ease-in 0;
  -ms-transition: all 0.22s ease-in 0;
  -o-transition: all 0.22s ease-in 0;
  transition: all 0.22s ease-in 0;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
#HomePageView .AppContent {
  padding-right: 10px !important;
}
.AppContent.nav-open {
  -webkit-transform: translate3d(45px,0,0);
  -moz-transform: translate3d(45px,0,0);
  -ms-transform: translate3d(45px,0,0);
  -o-transform: translate3d(45px,0,0);
  transform: translate3d(45px,0,0);
}
.AppNavigation {
  left: 10px;
  top: 45px;
  width: 45px;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  position: fixed;
  padding: 0 0 0 0;
  z-index: 0;
  float: none;
}
.high-z-index {
  z-index: 10;
}
.AppNavigation.nav-open #MenuView {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#MenuView {
  position: static;
  margin: 0 !important;
  padding: 0 0 0 10px !important;
  top: 0 !important;
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  left: 0;
  width: auto;
  height: 100%;
  border: none;
  background: none;
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  -ms-border-radius: 0 0 0 5px;
  -o-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
#MenuView > ul > li {
  *zoom: 1;
}
#MenuView > ul > li:before,
#MenuView > ul > li:after {
  content: " ";
  display: table;
}
#MenuView > ul > li:after {
  clear: both;
}
#MenuView > ul > li > a em {
  display: inline-block;
  position: relative;
  top: 4px;
  width: 25px;
  height: 25px;
  line-height: 22px;
  vertical-align: top;
  background: #FFF;
  z-index: 9999;
  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-style: normal;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-weight: normal !important;
  font-size: 24px;
  font-family: "ezcodx_gamification_symbly_rRg";
  -webkit-text-shadow: none !important;
  -moz-text-shadow: none !important;
  -ms-text-shadow: none !important;
  -o-text-shadow: none !important;
  text-shadow: none !important;
}
#MenuView > ul > li > a em:before {
  content: "x";
}
#MenuView > ul > li > a em + span {
  text-indent: -9999px !important;
}
#MenuView > ul > li > a span {
  width: 33px !important;
  display: block;
  margin-left: -4px;
}
#MenuView #search > a > em:before {
  content: "k";
}
#MenuView #shortcuts > a > em:before {
  content: "Y";
}
#MenuView #home > a > em:before {
  content: "A";
}
#MenuView #accounts > a > em:before {
  content: "P";
}
#MenuView #leads > a > em:before {
  content: ".";
}
#MenuView #contacts > a > em:before {
  content: "y";
}
#MenuView #opportunities > a > em:before {
  content: "9";
}
#MenuView #conversations > a > em:before {
  content: "b";
}
#MenuView #recently-viewed > a > em:before {
  content: "{";
}
#MenuView #mashableInbox > a > em:before {
  content: "g";
}
#MenuView #marketing > a > em:before {
  content: '\00B6';
}
#MenuView #reports > a > em:before {
  content: "V";
}
.toggle-hidden-nav-items {
  display: none;
}
.hidden-nav-item {
  display: block;
}
#search {
  position: relative;
}
#search > div {
  border: 1px solid #b6b6b6;
  background-color: #ebebeb;
  background-repeat: repeat-x;
  background-image: -ms-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f5f5f5),color-stop(100%,#ebebeb));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: -o-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: -moz-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: linear-gradient(top,#f5f5f5,#ebebeb);
  -webkit-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  -moz-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  -ms-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  -o-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  white-space: nowrap;
  display: none;
  position: absolute;
  margin: 0;
  padding: 10px;
  left: 35px;
  top: -7px;
  width: auto;
}
#search > div input {
  margin: 0;
  border-left: 1px solid #D5D4D4;
}
#search .global-search-loopa {
  display: none;
}
#MenuView #shortcuts,
#MenuView #recently-viewed {
  position: relative;
}
#MenuView #shortcuts > ul,
#MenuView #recently-viewed > ul {
  width: auto;
  border: 1px solid #b6b6b6;
  background-color: #ebebeb;
  background-repeat: repeat-x;
  background-image: -ms-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f5f5f5),color-stop(100%,#ebebeb));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: -o-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: -moz-linear-gradient(top,#f5f5f5,#ebebeb);
  background-image: linear-gradient(top,#f5f5f5,#ebebeb);
  -webkit-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  -moz-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  -ms-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  -o-box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  box-shadow: inset 0 0 0 2px #ffffff,  0 0 9px 5px rgba(153, 153, 153, 0.12);
  z-index: 9999;
  min-width: 110px;
  display: none;
  position: absolute;
  left: 0;
  top: 32px;
  padding-top: 3px;
  padding-bottom: 3px;
  left: 43px !important;
  top: -75px !important;
  padding: 3px 0 !important;
}
#MenuView #shortcuts > ul li,
#MenuView #recently-viewed > ul li {
  line-height: 100%;
}
#MenuView #shortcuts > ul li > a,
#MenuView #recently-viewed > ul li > a {
  color: #666;
  font-size: 11px;
  font-weight: normal;
  display: block;
  padding: 5px 10px 5px 10px;
  margin: 0 2px;
}
#MenuView #shortcuts > ul li > a:hover,
#MenuView #recently-viewed > ul li > a:hover {
  color: #fff !important;
}
#MenuView #shortcuts > ul li,
#MenuView #recently-viewed > ul li {
  line-height: 100%;
}
#MenuView #shortcuts > ul a,
#MenuView #recently-viewed > ul a {
  color: #666;
  font-size: 11px !important;
  display: block;
  margin: 0 2px;
  padding: 3px 0 !important;
  height: auto !important;
  float: none !important;
  width: auto !important;
}
#MenuView #shortcuts > ul a em,
#MenuView #recently-viewed > ul a em {
  display: none !important;
}
#MenuView #shortcuts > ul a em + span,
#MenuView #recently-viewed > ul a em + span {
  display: block !important;
}
#MenuView #shortcuts > ul a > span,
#MenuView #recently-viewed > ul a > span {
  height: auto !important;
  margin: 0;
  padding: 5px 10px 5px 10px;
  line-height: 1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: none !important;
  position: relative;
  text-indent: 0;
  font-weight: normal !important;
}
#MenuView #shortcuts > ul a:hover,
#MenuView #shortcuts > ul a:hover span,
#MenuView #recently-viewed > ul a:hover,
#MenuView #recently-viewed > ul a:hover span {
  color: #fff !important;
}
#RecentlyViewedView {
  display: none;
}
#HomeDashboardView {
  padding-right: 0;
}
#HomeDashboardView .juiportlet-column {
  width: 100%;
  float: none;
}
#HomeDashboardView .juiportlet-widget {
  min-width: auto;
  margin-right: 10px;
}
.juiportlet-column-split-left-75,
.juiportlet-column-split-right-25 {
  width: 100%;
  float: none;
}
#credit-link {
  line-height: 17px;
  font-size: 10px;
}
.DetailsAndRelationsView > div {
  float: none;
  width: 100% !important;
}
.breadcrumbs {
  padding-bottom: 10px;
}
.details-table {
  margin-right: 0;
}
.juiportlet-widget {
  margin-right: 0 !important;
}
.juiportlet-widget-head .view-toolbar-container {
  right: 0 !important;
}
.juiportlet-widget-head .portlet-toolbar .z-label {
  padding: 0 5px;
}
.latest-activity-toolbar {
  padding: 10px 5px !important;
}
.latest-activity-toolbar > div:first-child {
  margin-bottom: 10px;
}
#filter-latest-activities-link {
  margin-left: 5px !important;
}
.filter-portlet-model-bar {
  padding-left: 3px;
  padding-bottom: 10px;
  height: auto;
  *zoom: 1;
}
.filter-portlet-model-bar:before,
.filter-portlet-model-bar:after {
  content: " ";
  display: table;
}
.filter-portlet-model-bar:after {
  clear: both;
}
.filter-portlet-model-bar label {
  line-height: 1;
  float: left;
  margin: 10px 0 0 2px;
}
.filter-portlet-model-bar label:hover {
  background-color: #7CB830;
}
.filter-portlet-model-bar > .ui-buttonset {
  padding-top: 0;
}
.filter-portlet-model-bar .ui-state-active {
  background-color: #7CB830;
}
#more-search-link,
#select-list-attributes-link,
.list-view-items-summary-clone,
.button-column {
  display: none;
}
.SearchView {
  width: 100%;
}
.search-form-tools {
  left: auto;
  right: 10px;
}
#list-view .items-wrapper {
  border-top: none;
}
#modal-edit-form .panel,
#edit-form .panel,
#delete-form .panel {
  float: none;
  width: 100%;
}
#modal-edit-form .panel th > label,
#edit-form .panel th > label,
#delete-form .panel th > label {
  position: relative;
  top: 6px;
}
.hasParallelFields > div {
  width: 100% !important;
  display: block;
  float: none;
}
#ModelDetailsSummaryView,
#CommentInlineEditForModelView,
#CommentsForRelatedModelView {
  width: 100%;
  margin-right: 0;
  float: none;
  padding: 0 10px;
}
.model-details-summary {
  padding-left: 65px;
  padding-top: 10px;
}
.model-details-summary .gravatar {
  margin-left: -65px;
  max-width: 50px;
  max-height: 50px;
}
#CommentList,
.CommentList {
  margin-left: 0;
}
#CommentInlineEditForModelView {
  padding: 0 10px 0 0;
}
div:not(#LeaderboardView) .toolbar-mbmenu,
div:not(#MashableInboxActionBarForViews) .toolbar-mbmenu {
  right: 10px;
}
div:not(#LeaderboardView) .toolbar-mbmenu .view-toolbar,
div:not(#MashableInboxActionBarForViews) .toolbar-mbmenu .view-toolbar {
  position: relative;
  clear: both;
}
div:not(#LeaderboardView) .toolbar-mbmenu .options-menu > li > a,
div:not(#MashableInboxActionBarForViews) .toolbar-mbmenu .options-menu > li > a {
  text-indent: -9999px;
  width: auto;
  padding: 0;
}
div:not(#LeaderboardView) .toolbar-mbmenu .options-menu > li > a:after,
div:not(#MashableInboxActionBarForViews) .toolbar-mbmenu .options-menu > li > a:after {
  content: "{";
  font-weight: normal !important;
  font-size: 24px;
  font-family: "ezcodx_gamification_symbly_rRg";
  left: -5px;
  top: -1px;
  margin-left: 10px;
}
div:not(#LeaderboardView) .toolbar-mbmenu .options-menu > li > a span,
div:not(#MashableInboxActionBarForViews) .toolbar-mbmenu .options-menu > li > a span {
  display: none;
}
div:not(#LeaderboardView) .toolbar-mbmenu .options-menu ul,
div:not(#MashableInboxActionBarForViews) .toolbar-mbmenu .options-menu ul {
  right: 0;
  margin-top: -8px;
}
#NoUserEmailConfigurationYetView > div,
#NoGlobalEmailConfigurationYetView > div,
.ZeroModelsYetView > div,
.splash-view > div {
  padding: 0 10%;
  text-align: center;
}
#NoUserEmailConfigurationYetView h2,
#NoGlobalEmailConfigurationYetView h2,
.ZeroModelsYetView h2,
.splash-view h2 {
  font-size: 20px;
  line-height: 28px;
  padding: 0 0 15px 0;
  text-align: center;
}
#NoUserEmailConfigurationYetView i,
#NoGlobalEmailConfigurationYetView i,
.ZeroModelsYetView i,
.splash-view i {
  margin-left: 0;
  text-align: center;
}
#NoUserEmailConfigurationYetView .large-icon,
#NoGlobalEmailConfigurationYetView .large-icon,
.ZeroModelsYetView .large-icon,
.splash-view .large-icon {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border-right: none;
  float: none;
}
#NoUserEmailConfigurationYetView p,
#NoGlobalEmailConfigurationYetView p,
.ZeroModelsYetView p,
.splash-view p {
  width: 100%;
  font-size: 12px;
  line-height: 19px;
  margin-left: 0;
  margin-top: 15px;
  float: none;
}
#NoUserEmailConfigurationYetView a,
#NoGlobalEmailConfigurationYetView a,
.ZeroModelsYetView a,
.splash-view a {
  margin: 15px auto;
  padding: 0;
  float: none;
}
.ui-dialog .ui-dialog-titlebar-close {
  right: 5px;
  top: 5px;
}
.ui-dialog {
  width: 98%;
  min-width: 98%;
  max-width: 98%;
}
.ModalGameNotification {
  padding-bottom: 60px;
}
.model-tag {
  float: none;
  margin: 0 0 5px 0 !important;
  position: relative;
  top: -2px;
}
div#MashableInboxActionBarForViews .view-toolbar-container,
div#LeaderboardView .view-toolbar-container {
  width: auto;
}
div#LeaderboardView > .view-toolbar-container > .view-toolbar,
div#MashableInboxActionBarForViews > .view-toolbar-container > .view-toolbar {
  border: 1px solid #b7b7b7;
  border-top-color: #e7e7e7;
  border-left-color: #d7d7d7;
  border-right-color: #d7d7d7;
  border-radius: 4px;
  float: left;
  margin: 0 0 15px 0;
  -webkit-box-shadow: 0 0 9px 5px rgba(153,153,153,0.12);
  -moz-box-shadow: 0 0 9px 5px rgba(153,153,153,0.12);
  -ms-box-shadow: 0 0 9px 5px rgba(153,153,153,0.12);
  -o-box-shadow: 0 0 9px 5px rgba(153,153,153,0.12);
  box-shadow: 0 0 9px 5px rgba(153,153,153,0.12);
  background: url("../images/view-toolbar-gradient.png") left bottom repeat-x;
}
div#LeaderboardView > .view-toolbar-container > .view-toolbar .unread-count,
div#MashableInboxActionBarForViews > .view-toolbar-container > .view-toolbar .unread-count {
  display: none;
}
div#LeaderboardView > .view-toolbar-container > .view-toolbar .z-label,
div#MashableInboxActionBarForViews > .view-toolbar-container > .view-toolbar .z-label {
  display: none;
}
div#LeaderboardView > .view-toolbar-container > .view-toolbar > a,
div#LeaderboardView > .view-toolbar-container > .view-toolbar .parent > a,
div#MashableInboxActionBarForViews > .view-toolbar-container > .view-toolbar > a,
div#MashableInboxActionBarForViews > .view-toolbar-container > .view-toolbar .parent > a {
  padding: 0 0 0 0;
}
div#LeaderboardView > .view-toolbar-container > .view-toolbar > a:before,
div#LeaderboardView > .view-toolbar-container > .view-toolbar .parent > a:before,
div#MashableInboxActionBarForViews > .view-toolbar-container > .view-toolbar > a:before,
div#MashableInboxActionBarForViews > .view-toolbar-container > .view-toolbar .parent > a:before {
  display: inline-block;
  margin: 0 5px 0 5px;
}
div#LeaderboardView > .view-toolbar-container > .view-toolbar > a:after,
div#LeaderboardView > .view-toolbar-container > .view-toolbar .parent > a:after,
div#MashableInboxActionBarForViews > .view-toolbar-container > .view-toolbar > a:after,
div#MashableInboxActionBarForViews > .view-toolbar-container > .view-toolbar .parent > a:after {
  margin-left: 5px;
}
div#LeaderboardView > .view-toolbar-container > .view-toolbar .parent > a,
div#MashableInboxActionBarForViews > .view-toolbar-container > .view-toolbar .parent > a {
  padding: 0 5px 0 0;
}
div#LeaderboardView > .view-toolbar-container > .view-toolbar .z-label {
  display: inline-block;
  margin-right: 8px;
}
#LeaderboardView .items {
  margin-bottom: 10px;
}
#MashableInboxActionBarForViews .filters-bar {
  position: relative;
  top: -5px;
  left: 0;
}
.gravatar-container {
  float: left;
  margin: 15px;
  width: 100%;
}
#FlashMessageView {
  width: 100%;
  top: 50px;
  right: 0;
}
.gd-dashboard-active {
  overflow: visible;
}
.gd-dashboard-active .AppContainer {
  padding-top: 38px;
}
#gd-overlay {
  top: 38px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.65);
  position: absolute;
  width: 100%;
  display: block;
}
#gd-container {
  z-index: 100;
  top: 38px;
}
#game-dashboard {
  width: 100%;
  height: auto;
  max-height: none;
  position: relative;
  left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0;
  background-size: 100% 100%;
}
#game-dashboard > div {
  width: 100%;
  height: auto;
  float: none;
  display: block;
  margin: 0;
  padding: 20px;
  border-top: 1px solid rgba(83,112,115,0.4);
  border-bottom: 1px solid rgba(32,50,52,0.5);
}
.gd-mini-stats-card {
  padding-bottom: 20px;
}
#gd-profile-card .gravatar,
#gd-profile-card img {
  width: 50%;
  margin: 15px 25%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
#gd-badges-list {
  position: relative;
  left: 0;
}
.nav-button {
  width: 5%;
}
#gd-carousel-wrapper {
  width: 90%;
}
